Repository yacosta738/astrum, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, apps/service, libs, test, source, frontend

.github/labeler.yml:

# Add 'repo' label to any root file changes
   repo:
     - '*'
# Add '@apps/service' label to any change within the 'apps' directory
   apps/service:
     - 'apps/**'
# Add '@libs' label to any change within the 'libs' directory
   libs:
     - 'libs/**'
# Add 'test' label to any change to a test file
   test:
     - '**/*.spec.ts'
     - '**/src/test/**'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
   source:
     - any: ['**/src/**/*', '!**/src/docs/**/*']

# Add 'frontend` label to any change to *.js, *.ts or *.tsx files within the source dir
   frontend:
     - any: ['src/**/*.js', 'src/**/*.ts', 'src/**/*.tsx']

feat(taletum): init commit
  apps/message-dashboard/build.gradle.kts
  apps/message-dashboard/src/main/kotlin/com/acosta/education/message/dashboard/ConsumerApplication.kt
  apps/message-dashboard/src/main/kotlin/com/acosta/education/message/dashboard/DashboardController.kt
  apps/message-dashboard/src/main/kotlin/com/acosta/education/message/dashboard/DashboardService.kt
  apps/message-dashboard/src/main/kotlin/com/acosta/education/message/dashboard/MessageClient.kt
  apps/message-dashboard/src/main/resources/application.properties
  apps/message-dashboard/src/main/resources/logback.xml
  apps/message-dashboard/src/test/kotlin/com/acosta/education/message/dashboard/ConsumerApplicationTest.kt
  apps/message-dashboard/src/test/resources/application.properties
  apps/message-dashboard/src/test/resources/logback-test.xml
  apps/message-factory/build.gradle.kts
  apps/message-factory/src/main/kotlin/com/acosta/education/message/factory/FactoryApplication.kt
  apps/message-factory/src/main/kotlin/com/acosta/education/message/factory/MessageController.kt
  apps/message-factory/src/main/kotlin/com/acosta/education/message/factory/MessageService.kt
  apps/message-factory/src/main/resources/application.properties
  apps/message-factory/src/main/resources/logback.xml
  apps/message-factory/src/test/kotlin/com/acosta/education/message/factory/FactoryApplicationTest.kt
  apps/message-factory/src/test/resources/application.properties
  apps/message-factory/src/test/resources/logback-test.xml
  apps/talentum/src/main/kotlin/com/acosta/education/message/dashboard/AboutMeController.kt
  apps/talentum/src/main/kotlin/com/acosta/education/message/dashboard/ConsumerApplication.kt
  apps/talentum/src/main/kotlin/com/acosta/education/message/dashboard/HelloController.kt
  apps/talentum/src/main/kotlin/com/acosta/education/message/dashboard/config/SecurityConfiguration.kt
  apps/talentum/src/main/kotlin/com/acosta/education/message/dashboard/security/GrantedAuthoritiesExtractor.kt
  apps/talentum/src/main/kotlin/com/acosta/education/message/dashboard/security/KeycloakConfiguration.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/AboutMeController.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/HelloController.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/TalentumApplication.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/config/SecurityConfiguration.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/security/GrantedAuthoritiesExtractor.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/security/KeycloakConfiguration.kt
  apps/talentum/src/test/kotlin/com/acosta/education/message/dashboard/ConsumerApplicationTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/TalentumApplicationTest.kt
  apps/talentum/src/test/resources/application.properties
  libs/shared/src/main/kotlin/com/acosta/education/message/Message.kt
  libs/shared/src/main/kotlin/com/astrum/Message.kt
  settings.gradle.kts
Labels: repo, apps/service, libs, test, source

feat(taletum): authentication
  apps/talentum/src/main/kotlin/com/astrum/talentum/user/Email.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/user/FirstName.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/user/LastName.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/user/Name.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/user/exceptions/EmailExceptions.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/user/exceptions/NameExceptions.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/user/EmailTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/user/FirstNameTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/user/LastNameTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/user/NameTest.kt
  libs/shared/src/main/kotlin/com/astrum/Message.kt
  libs/shared/src/main/kotlin/com/astrum/common/domain/BaseId.kt
  libs/shared/src/main/kotlin/com/astrum/common/domain/BaseValidateValueObject.kt
  libs/shared/src/main/kotlin/com/astrum/common/domain/BaseValueObject.kt
  libs/shared/src/main/kotlin/com/astrum/common/domain/Generated.kt
Labels: apps/service, libs, test, source

feat(taletum): authentication add renovate rules
  renovate.json
Labels: repo

feat(taletum): authentication
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/domain/Role.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/domain/Roles.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/domain/Username.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/domain/exceptions/UserNameExceptions.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/RoleTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/RolesTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/UsernameTest.kt
  buildSrc/src/main/kotlin/spring-conventions.gradle.kts
Labels: apps/service, test, source

add cors
  apps/talentum/build.gradle.kts
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/ApplicationSecurityProperties.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/claims/Claims.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/cors/ApplicationCorsProperties.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/cors/CorsFilter.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/config/SecurityConfiguration.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/controller/AboutMeController.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/controller/HelloController.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/security/GrantedAuthoritiesExtractor.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/security/KeycloakConfiguration.kt
  apps/talentum/src/main/resources/application.yml
Labels: apps/service, source

feat(taletum): authentication
  .github/workflows/gradle-build-pr.yml
Labels: none

feat(taletum): authentication
  apps/talentum/build.gradle.kts
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/ApplicationSecurityProperties.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/claims/Claims.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/config/SecurityConfiguration.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/cors/ApplicationCorsProperties.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/cors/CorsFilter.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/controller/AboutMeController.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/controller/PingController.kt
  apps/talentum/src/main/resources/application.yml
  buildSrc/src/main/kotlin/spring-conventions.gradle.kts
  infrastructure/all.yml
  infrastructure/keycloak/keycloak.yml
  infrastructure/neo4j/.gitignore
  infrastructure/neo4j/neo4j.yml
  infrastructure/postgresql/postgresql.yml
  infrastructure/run_all.sh
Labels: apps/service, source

feat(taletum): authentication
  apps/talentum/build.gradle.kts
  apps/talentum/src/main/kotlin/com/astrum/talentum/TalentumApplication.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/authentication/infrastructure/config/SecurityConfiguration.kt
  apps/talentum/src/main/resources/application.yml
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/RoleTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/RolesTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/UsernameTest.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/domain/Role.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/domain/Roles.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/domain/Username.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/domain/exceptions/UserNameExceptions.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/ApplicationSecurityProperties.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/config/SecurityConfiguration.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/errors/FieldErrorVM.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/web/rest/AboutMeController.kt
Labels: apps/service, libs, test, source

feat(taletum): authentication
  apps/talentum/src/main/kotlin/com/astrum/talentum/ApplicationStartupTraces.kt
  libs/authentication/build.gradle.kts
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/config/WebConfigurer.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/converter/GrantedAuthoritiesExtractor.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/errors/BadRequestAlertException.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/errors/ErrorConstants.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/errors/ExceptionTranslator.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/util/HeaderUtil.kt
Labels: apps/service, libs, source

feat(event): add event module
  buildSrc/src/main/kotlin/kotlin-conventions.gradle.kts
  gradle.properties
  libs/authentication/src/main/kotlin/com/astrum/authentication/domain/Role.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/domain/Roles.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/domain/Username.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/domain/exceptions/UserNameExceptions.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/AddonsSecurityBeans.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/AddonsWebSecurityBeans.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/ConfigurableClaimSet2AuthoritiesConverter.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/ModifiableClaimSet.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/OAuthentication.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/OpenidClaimSet.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/UnmodifiableClaimSet.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/config/SecurityConfiguration.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/config/SpringAddonsSecurityProperties.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/domain/AuthenticationBuilder.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/domain/AuthorizeExchangeSpecPostProcessor.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/domain/ClaimSet.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/domain/OAuth2AuthenticationFactory.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/domain/OAuth2AuthoritiesConverter.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/domain/ServerHttpSecurityPostProcessor.kt
  libs/authentication/src/main/kotlin/com/astrum/authentication/infrastructure/exceptions/AuthenticationExceptions.kt
  libs/event/.gitignore
  libs/event/build.gradle.kts
  libs/event/src/main/kotlin/com/astrum/event/EventBroadcaster.kt
  libs/event/src/main/kotlin/com/astrum/event/EventConsumer.kt
  libs/event/src/main/kotlin/com/astrum/event/EventEmitter.kt
  libs/event/src/main/kotlin/com/astrum/event/EventFilter.kt
  libs/event/src/main/kotlin/com/astrum/event/EventMultiplexer.kt
  libs/event/src/main/kotlin/com/astrum/event/EventPublisher.kt
  libs/event/src/main/kotlin/com/astrum/event/Subscribe.kt
  libs/event/src/main/kotlin/com/astrum/event/TypeMatchEventFilter.kt
  libs/event/src/main/kotlin/com/astrum/event/configuration/EventConfiguration.kt
  libs/event/src/test/kotlin/.gitkeep
Labels: repo, libs, test, source

feat(event): add event module
  .idea/kotlinScripting.xml
  apps/talentum/build.gradle.kts
  gradle.properties
  libs/authentication/build.gradle.kts
  libs/coroutine-test/.gitignore
  libs/coroutine-test/build.gradle.kts
  libs/coroutine-test/gradle.properties
  libs/coroutine-test/src/main/kotlin/com/astrum/coroutine/test/CoroutineTestHelper.kt
  libs/coroutine-test/src/test/kotlin/.gitkeep
  libs/ulid/.gitignore
  libs/ulid/build.gradle.kts
  libs/ulid/src/main/kotlin/com/astrum/ulid/ULID.kt
  libs/ulid/src/main/kotlin/com/astrum/ulid/jackson/ULIDDeserializer.kt
  libs/ulid/src/main/kotlin/com/astrum/ulid/jackson/ULIDModule.kt
  libs/ulid/src/main/kotlin/com/astrum/ulid/jackson/ULIDSerializer.kt
  libs/ulid/src/test/kotlin/.gitkeep
  libs/util/.gitignore
  libs/util/build.gradle.kts
  libs/util/src/main/kotlin/com/astrum/util/Async.kt
  libs/util/src/main/kotlin/com/astrum/util/Faker.kt
  libs/util/src/main/kotlin/com/astrum/util/Optional.kt
  libs/util/src/main/kotlin/com/astrum/util/Reversed.kt
  libs/util/src/test/kotlin/com/astrum/util/AsyncTest.kt
  libs/util/src/test/kotlin/com/astrum/util/FakerTest.kt
  libs/util/src/test/kotlin/com/astrum/util/OptionalTest.kt
Labels: repo, apps/service, libs, test, source

feat(module): add event module
  libs/ulid/build.gradle.kts
  libs/ulid/src/main/kotlin/com/astrum/ulid/ULID.kt
Labels: libs, source

feat(module): add event module
  buildSrc/src/main/kotlin/testing-conventions.gradle.kts
  gradle.properties
  libs/authentication/src/main/kotlin/com/astrum/db/migrations/neo4j/Neo4jMigrations.kt
  libs/authentication/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  libs/authentication/src/main/resources/config/neo4j/migrations/user__admin.json
  libs/authentication/src/main/resources/config/neo4j/migrations/user__user.json
Labels: repo, libs, source

feat(module): add event module
  libs/coroutine-test/build.gradle.kts
Labels: libs

feat(module): add event module
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/RoleTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/RolesTest.kt
  apps/talentum/src/test/kotlin/com/astrum/talentum/unit/authentication/domain/UsernameTest.kt
  buildSrc/src/main/kotlin/testing-conventions.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  libs/coroutine-test/build.gradle.kts
  libs/data/src/main/kotlin/com/astrum/data/repository/r2dbc/EntityManager.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/r2dbc/SimpleR2DBCRepository.kt
  libs/util/src/test/kotlin/com/astrum/util/OptionalTest.kt
Labels: repo, apps/service, libs, test, source

feat(module): add event module
  apps/talentum/detekt-baseline.xml
  libs/data/detekt-baseline.xml
  libs/event/detekt-baseline.xml
  libs/shared/detekt-baseline-main.xml
  libs/shared/detekt-baseline.xml
  libs/shared/src/main/kotlin/com/astrum/common/domain/BaseValidateValueObject.kt
  libs/shared/src/main/kotlin/com/astrum/common/domain/BaseValueObject.kt
  libs/ulid/detekt-baseline.xml
  libs/util/detekt-baseline.xml
Labels: apps/service, libs, source

feat(module): add data module
  gradle.properties
  libs/data/build.gradle.kts
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/GeneralReactiveNeo4jRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jCriteriaParser.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jQueryableRepositoryAdapter.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jRepositoryBuilder.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/PropertyOrFieldMustNotBeNull.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/SimpleNeo4jRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/test/Neo4jTestHelper.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/InMemoryNeo4jCacheRepositoryTest.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/Neo4jCriteriaParserTest.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/migration/CreatePerson.kt
Labels: repo, libs, test, source

feat(module): add data module
  libs/data/src/main/kotlin/com/astrum/data/ModifiableULIDEntity.kt
  libs/data/src/main/kotlin/com/astrum/data/ULIDEntity.kt
  libs/data/src/main/kotlin/com/astrum/data/configuration/Neo4jConfiguration.kt
  libs/data/src/main/kotlin/com/astrum/data/configuration/R2dbcConfiguration.kt
  libs/data/src/main/kotlin/com/astrum/data/converter/ULIDToBinaryStringConverter.kt
  libs/data/src/main/kotlin/com/astrum/data/expansion/KProperty.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/SimpleNeo4jRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/test/Neo4jTestHelper.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/migration/CreatePerson.kt
Labels: libs, test, source

feat(module): add data module
  libs/data/src/main/kotlin/com/astrum/data/configuration/Neo4jConfiguration.kt
  libs/data/src/main/kotlin/com/astrum/data/converter/ULIDToValueConverter.kt
Labels: libs, source

feat(module): add data module
  libs/data/src/main/kotlin/com/astrum/data/migration/MigrationManager.kt
Labels: libs, source

feat(module): add data module
  libs/data/src/main/kotlin/com/astrum/data/ModifiableULIDEntity.kt
Labels: libs, source

feat(module): add data module
  .gitignore
  .idea/.name
  .idea/highlightedFiles.xml
  .idea/jpa-buddy.xml
  .idea/kotlinScripting.xml
  .idea/kotlinc.xml
  .idea/misc.xml
  .idea/vcs.xml
Labels: repo

delete idea
  .idea/.name
  .idea/highlightedFiles.xml
  .idea/jpa-buddy.xml
  .idea/kotlinScripting.xml
  .idea/kotlinc.xml
  .idea/misc.xml
  .idea/vcs.xml
Labels: none

feat(module): add data module
  libs/data/build.gradle.kts
  libs/data/src/main/kotlin/com/astrum/data/migration/Neo4jMigrations.kt
  libs/data/src/main/kotlin/com/astrum/data/test/Neo4jTestHelper.kt
Labels: libs, source

feat(module): add data module
  libs/data/build.gradle.kts
  libs/data/src/main/kotlin/com/astrum/data/test/Neo4jTestHelper.kt
Labels: libs, source

feat(module): add data module
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  libs/data/build.gradle.kts
  libs/data/src/main/kotlin/com/astrum/data/configuration/Neo4jConfiguration.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jQueryableRepositoryAdapter.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/SimpleNeo4jRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/test/Neo4jTestHelper.kt
  libs/data/src/test/kotlin/com/astrum/data/dummy/DummyPerson.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/QueryableRepositoryTestHelper.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/InMemoryNeo4jCacheRepositoryTest.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/migration/CreatePerson.kt
  libs/event/src/main/kotlin/com/astrum/event/EventBroadcaster.kt
Labels: repo, libs, test, source

feat(module): add data module
  gradle/wrapper/gradle-wrapper.jar
  libs/data/src/main/kotlin/com/astrum/data/configuration/Neo4jConfiguration.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/GeneralReactiveNeo4jRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/SimpleNeo4jRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/test/Neo4jTestHelper.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/QueryableRepositoryTestHelper.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/InMemoryNeo4jCacheRepositoryTest.kt
  libs/event/src/main/kotlin/com/astrum/event/EventBroadcaster.kt
Labels: libs, test, source

feat(data): add neo4j implementation
  apps/talentum/src/main/resources/config/application.yml
  gradle.properties
  libs/data/src/main/kotlin/com/astrum/data/cache/TransactionalStorageProvider.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jCriteriaParser.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jQueryableRepositoryAdapter.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jRepositoryBuilder.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/SimpleNeo4jRepository.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/QueryableRepositoryTestHelper.kt
  settings.gradle.kts
Labels: repo, apps/service, libs, test, source

feat(data): Analyze with SonarCloud
  .github/workflows/sonarcloud.yml 
Labels: none

feat(data): Test All Components
  libs/data/src/main/kotlin/com/astrum/data/repository/QueryableRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/cache/CachedQueryableRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jQueryableRepositoryAdapter.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/Neo4jRepository.kt
  libs/data/src/main/kotlin/com/astrum/data/repository/neo4j/SimpleNeo4jRepository.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/Neo4jQueryableRepositoryAdapterTest.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/Neo4jRepositoryTestHelper.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/RedisCacheRepositoryTest.kt
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/SimpleNeo4jRepositoryTest.kt
Labels: libs, test, source

feat(core): :rocket: general test for data module
  libs/data/src/test/kotlin/com/astrum/data/repository/r2dbc/R2DBCCriteriaParserTest.kt
Labels: libs, test, source

feat(data): Test All Components
  libs/data/src/test/kotlin/com/astrum/data/repository/neo4j/SimpleNeo4jRepositoryTest.kt
Labels: libs, test, source

fix(data): remove unused code
  apps/talentum/build.gradle.kts
  apps/talentum/src/main/kotlin/com/astrum/talentum/ApplicationStartupTraces.kt
  apps/talentum/src/main/kotlin/com/astrum/talentum/controller/HelloController.kt
  gradle/libs.versions.toml
Labels: apps/service, source
